@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat+Alternates:wght@200;400;700&family=Montserrat:wght@200;400;700&display=swap');


body {
    font-family: 'Aclonica', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #F1F1F1;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 55px;


}

.ad1 {

}

.train {
    max-width: 210px;
    width: 100%;
    border: none;
    scrollbar-width: 0px;
}

.gameplay {
    display: flex;
    align-items: center;  
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 66vh;
    background: #FAFAFA;
    border: 3px solid #E35A00;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.dictionary {
    max-width: 200px;
    width: 100%;
    border: 3px solid #8E2A15;
    height: 595px;

}

.ad2 {

}