@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat+Alternates:wght@200;400;700&family=Montserrat:wght@200;400;700&display=swap');

.header-gameplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #8E2A15


}

.btn-theory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    border: 3px solid #8E2A15;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px 5px 5px 60px;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;

}

.btn-hint {
    cursor: pointer;

}

.btn-dict {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    border: 3px solid #8E2A15;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 60px 60px 5px;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;


}