@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat+Alternates:wght@200;400;700&family=Montserrat:wght@200;400;700&display=swap');



.header-train {
    width: 100%;
    background: #FAFAFA;
    border: 3px solid #8E2A15;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 5px 5px;
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 5px 0 5px 0;
    margin: 5px 5px 15px 5px;
}

.telo-train {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-height: 548px;
    min-height: 548px;
    background: linear-gradient(135deg, #8E2A15 0%, #DC5B25 49.48%, #8E2A15 100%);
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px 0 5px 0;
    margin: 5px 5px 15px 5px;
    overflow: hidden;
    overflow-y: auto;

}

.telo-train::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}


.card {
    width: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
    background: #FAFAFA;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .card:not(.notactive):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .card.clicked:not(.notactive) {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .card.selected:not(.notactive) {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .card.notactive {
    position: relative;
  }
  
  .card.notactive::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
    opacity: 0.5;
    z-index: 1;
  }
  
  .card.notactive {
    opacity: 1;
    cursor: default;
  }


h4 {
    font-size: 13px;
    font-family: 'Montserrat Alternates';
    font-weight: 400;
    padding: 5px 0 5px 0;
    margin: 10px 5px 10px 10px;

}

.book {
    width: 25px;
    position: relative;
    margin-top: auto;
    margin-left: auto;
    transform: translate(-20%, -20%);

}

h5 {
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #8E2A15;
    margin: 10px 5px 10px 10px;

}